@import url('https://fonts.googleapis.com/css2?&family=Road+Rage&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 32px;
    width: 89.333%;
    height: 1030px;
    background: #08252B;
    border: 1px solid #0E464F;
    border-radius: 32px;
    margin-bottom: 136px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 100%;
    height: 76px;
}


.form-header-text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0px;
    gap: 12px;
    width: 100%;
    height: 60px;
}

.form-header-title {
    font-family: 'JejuMyeongjo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.form-header-steps-counter {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FAFAFA;
}

.form-header-progress {
    width: 100%;
    height: 4px;
    background: #0E464F;
    border-radius: 5px;
}

.form-header-progress-bar {
    height: 100%;
    background: #24A0B5;
    border-radius: 5px;
}

.form-body {
    width: 100%;
}

.form-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    gap: 8px;
    width: 100%;
    height: 243px;
    background: radial-gradient(103.64% 57.39% at 14.02% 32.06%, rgba(36, 160, 181, 0.2) 0%, rgba(36, 160, 181, 0) 100%), rgba(10, 12, 17, 0.1);
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color: #07373F;
    backdrop-filter: blur(7px);
    border-radius: 24px;
}

.form-title-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 100%;
}

.form-title-main-heading {
    font-family: 'Road Rage', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 100%;
    text-align: center;
    color: #FAFAFA;
}

.form-title-main-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FAFAFA;
    margin: 0;
    max-width: 35ch;
}

.form-title-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FAFAFA;
}

.span {
    display: none;
}

@media screen and (min-width: 900px) {

    .form-content {
        padding: 48px;
        gap: 32px;
        width: 700px;
        height: 902px;
        background: #041E23;
        border-radius: 40px;
        margin-bottom: 68px;
    }

    .form-header {
        height: 48px;
    }

    .form-header-text-content {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 32px;
    }

    .form-header-title {
        font-size: 32px;
        line-height: 32px;
    }


    .form-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 24px;
        gap: 32px;
        width: 100%;
        height: 726px;
        background: #08252B;
        border: 1px solid #0E464F;
        border-radius: 32px;
    }

    .form-title {
        padding: 24px;
        gap: 8px;
        height: 200px;

    }

    .form-title-main-heading {
        font-size: 62px;
    }

    .form-title-main-text {
        font-size: 16px;
        max-width: 35ch;
    }

    .form-title-details {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 16px;
        font-size: 16px;
    }

    .span {
        display: block;
    }

    .line {
        width: 100%;
        height: 4px;
        background: #07373F;
    }

    .form-options {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        width: 100%;
        height: 218px;
    }

    .form-options-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FAFAFA;
        text-transform: capitalize;
    }

    .form-options-body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        padding: 0px;
        gap: 24px;
        padding: 16px;
        width: 100%;
        height: 186px;
        background: #052228;
        border: 1px solid #07373F;
        border-radius: 24px;
    }


    .form-option {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 8px;
        width: 44%;
        height: 65px;
        border: 1px solid #07373F;
        border-radius: 12px;
        cursor: pointer;
        background-color: transparent;
        transition: all 300ms ease;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
    }

    .form-option-price {
        padding: 8px;
        width: 35%;
        height: 38px;
        background: #0E464F;
        border: 1px solid #2BA4B9;
        border-radius: 8px;
        text-align: right;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 110%;
        color: #FAFAFA;
    }

    .form-option-category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 4px;
    }

    .category-name {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 150%;
        text-transform: uppercase;
        color: #FAFAFA;
    }

    .available-tickets {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #FAFAFA;
    }

    .selected.form-option {
        background-color: #197686;
        border: #197686
    }

    .form-option:hover:not(.selected) {
        background-color: #197686aa;
    }

    .form-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        width: 100%;
        height: 80px;
    }

    .form-input #select-label {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FAFAFA;
    }

    .form-input #select-tickets {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px;
        width: 100%;
        height: 48px;
        border: 1px solid #07373F;
        border-radius: 12px;
        background-color: transparent;
        color: #FAFAFA;
    }

    #select-tickets:hover,
    #select-tickets:focus {
        border: 2px solid #07373F;
        outline: none;
    }

}