.bio-data {
    padding: 4px;
    width: 232px;
    min-height: 160px;
    background: #08343C;
    border: 1px solid #133D44;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.ticket-data-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 42px 42px 65px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 1px;
    background-color: #12464e;
}

.ticket-data {
    background-color: #08343C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4px;
    gap: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ticket-data:nth-of-type(5) {
    grid-column: span 2;
    padding: 8px;
}

.caption {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.33;
}

.data {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;
    color: #FFFFFF;
}

.data-type {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    color: #FFFFFF;
    overflow-wrap: break-word;
    word-break: keep-all;
    white-space: normal;
    overflow-y: hidden;
    text-overflow: ellipsis;
}