@import url(https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo);
@import url('https://fonts.googleapis.com/css2?&family=Road+Rage&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  min-height: 100vh;
  background: radial-gradient(52.52% 32.71% at 50% 97.66%, rgba(36, 160, 181, 0.2) 0%, rgba(36, 160, 181, 0) 100%), #02191D;
}


.form-buttons {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  height: 112px;
}

.form-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 100%;
  height: 48px;
  background: #24A0B5;
  border-radius: 8px;
  border: none;
  font-family: 'JejuMyeongjo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
}

.form-button:hover {
  background-color: #24A0B5aa;
  color: #ffffff;
}

.form-button:focus {
  background-color: #24A0B5aa;
  border: none;
  outline: 2px solid #24A0B5;
}

.btn-one {
  background-color: transparent;
  border: 1px solid #24A0B5;
  font-family: 'JejuMyeongjo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #24A0B5;
}

.btn-one:hover {
  background-color: transparent;
  color: #ffffff;
}

.btn-one:focus {
  background-color: transparent;
  color: #ffffff;
}

.tickets,
.about {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  align-items: center;
}

.about {
  gap: 76px;
  padding: 24px;
}

.about-text {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  color: #ffffff;
  white-space: pre-line;

}

.about-links {
  display: flex;
  gap: 32px;
  padding: 16px 48px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about-links a {
  padding: 12px 24px;
  width: 215px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid #24A0B5;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #24A0B5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-links a:last-child {
  color: #ffffff;
  background-color: #24A0B5;
}

.fun-text {
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  line-height: 150%
}

.tickets-container {
  display: flex;
  padding: 32px;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  justify-content: center;

}

.tickets-container-text {
  font-size: 24px;
  font-family: 'JejuMyeongjo', serif;
  line-height: 150%;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-align: center;
  max-width: 50ch;
  font-weight: bolder;
}

.about-content {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
  gap: 32px;
  width: clamp(200px, 80vw, 800px);
  min-height: 1848px;
  background: #041E23;
  border: 1px solid #0E464F;
  border-radius: 40px;
}

@media screen and (min-width: 900px) {

  .form-buttons {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 48px;
    background: #041E23;
    border: 1px solid #0E464F;
    border-radius: 24px;
  }

  .form-button {
    width: 39%;
  }


}